body{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: darkgray;
    border-radius:20px;
    margin: 5px;
}
.navbar ul li{
    background-color:rgb(119, 153, 153);
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.navbar ul li a{
    color: black;
}
.navbar ul li a:hover{
    background-color: rgb(155, 143, 110);
    border-radius: 10px;
    font-size: 20px;
    color: black;
    border-bottom:chartreuse solid 2px ;
}
.quem-somos {
    background-image: url("bootstrap/img/art1.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
    border-radius:20px;
    border: cadetblue 2px solid;
    margin: 5px;
    width: auto;
    height: 500px;
    color:black;
}
.quem-somos p {
    background-color: rgb(122, 174, 187);
    width: 400px;
    font-size: 30px;
    margin: auto;
    border-radius: 10px;
}
.quem-somos h3{
    background-color:rgb(179, 162, 115);
    text-align:justify;
    font-size: 20px;
    color:black;
    border-radius: 10px;
}
.margin {
    padding-top: 30px;
}
.c1{
    background-color: cadetblue;
    border-radius: 20px;
    margin-left:auto;
    margin-right:auto;
}
.c2{
  background-color: darkred;
  border-radius: 20px;
  margin-left:auto;
   margin-right:auto;
}
.c3{
    background-color: darkgrey;
    border-radius: 20px;
    margin-left:auto;
    margin-right: auto;
}
.bg-footer {
    background-color:lightslategrey;
    border-radius:20px;
    margin: 5px;
    color:black;
    padding: 50px;

}