body{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: darkgray;
    border-radius:20px;
    margin: 5px;
}
.navbar ul li{
    background-color:lightslategrey;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.navbar ul li a{
    color: black;
}
.quem-somos {
    background-image: url("bootstrap/img/art4.png");
    background-repeat: no-repeat;
    border-radius:20px;
    border: cadetblue 2px solid;
    margin: 5px;
    width: auto;
    height: 500px;
    color:indianred;
}
.quem-somos p {
    font-size: 30px;
}
.quem-somos h3{
    background-color:rgb(9, 32, 56);
    text-align:justify;
    font-size: 20px;
    color:rgb(223, 142, 142);
    border-radius: 10px;
}
.margin {
    padding-top: 30px;
}
.c1{
    background-color: cadetblue;
    border-radius: 20px;
    margin-left:auto;
    margin-right:auto;
}
.c2{
  background-color: darkred;
  border-radius: 20px;
  margin-left:auto;
   margin-right:auto;
}
.c3{
    background-color: darkgrey;
    border-radius: 20px;
    margin-left:auto;
    margin-right: auto;
}
.bg-footer {
    background-color:lightslategrey;
    border-radius:20px;
    margin: 5px;
    color:black;
    padding: 50px;

}